Temp
Temp.meta

bin
bin.meta
obj
obj.meta

Library

sysinfo.txt

*.csproj
*.sln
*.DotSettings
*.suo
*.user
*.Unity.userprefs

*.mdb
*.mdb.meta

/Android/ClientUnityGradle/.gradle
/Android/ClientUnityGradle/.idea
/Android/ClientUnityGradle/build
/Android/ClientUnityGradle/app/build
/Android/ClientUnityGradle/local.properties

Base/Utils/HashUtils/gitPath.txt

Assets/ShaderForge/
Assets/ShaderForge.meta

Assets/Scripts/Model/Shared
Assets/Scripts/Model/Shared.meta

.vscode
Assets/VSCode
Assets/VSCode.meta

.idea.Client
